@import "compass";

html {
	width: 100%;
	height: 100%;
	@include background-image(linear-gradient(#FFF1AA, #d78917));
}

.background-bubbles {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 0;
	pointer-events: none;

	@include opacity(0.3);

	&.show {
		-webkit-animation-name: opacityShow;
		animation-name: opacityShow;
		-webkit-animation-duration: 4s;
		animation-duration: 4s;
	}

	.bubble {
		position: fixed;
		border-radius: 50%;
		background-color:white;
		margin: 0 auto;

		border-style:solid;
		border-width:1px;

		border-width: 0;
		border-bottom: solid 10px orange;

		&.small {
			width: 75px;
			height: 75px;
		}

		&.large {
			width: 115px;
			height: 115px;
		}

		&.tiny {
			width: 30px;
			height: 30px;
		}
	}
}

